In [7]:
import datetime as dt
import pandas as pd
import pandas_datareader as pdr
import pandas_datareader.data as web
import urllib.request, urllib.error, urllib.parse
import requests
import regex as re
%matplotlib inline

In [11]:
df=pdr.data.get_data_yahoo('MSTR', start='2022-01-01', end='2022-6-17')
df['Close']

Date
2022-01-03    558.260010
2022-01-04    551.070007
2022-01-05    509.100006
2022-01-06    498.619995
2022-01-07    482.950012
                 ...
2022-06-13    152.149994
2022-06-14    156.869995
2022-06-15    171.339996
2022-06-16    161.339996
2022-06-17    167.600006
Name: Close, Length: 116, dtype: float64

In [50]:
df.tail(14)

,High,Low,Open,Close,Volume,Adj Close
Date,,,,,,
2022-05-31,272.880005,228.520004,235.169998,264.690002,1552700,264.690002
2022-06-01,267.000000,233.000000,261.350006,238.139999,871000,238.139999
2022-06-02,250.800003,231.820007,232.820007,244.460007,596000,244.460007
2022-06-03,239.380005,223.550003,239.380005,227.220001,498400,227.220001
2022-06-06,248.770004,232.360001,243.949997,235.440002,585400,235.440002
2022-06-07,242.490005,218.080002,221.699997,240.000000,666700,240.000000
2022-06-08,246.990005,232.190002,236.880005,232.889999,310800,232.889999
2022-06-09,233.529999,216.360001,231.330002,217.759995,524300,217.759995
2022-06-10,213.860001,197.800003,211.889999,203.360001,781600,203.360001
2022-06-13,167.979996,143.899994,149.309998,152.149994,3677500,152.149994
2022-06-14,168.679993,145.300003,149.009995,156.869995,1892600,156.869995
2022-06-15,176.880005,156.100006,160.250000,171.339996,1877000,171.339996
2022-06-16,167.029999,154.460007,160.869995,161.339996,1140300,161.339996
2022-06-17,168.559998,157.570007,158.029999,167.600006,1144066,167.600006

In [10]:
df['Close'].mean()

373.25353609282394

In [8]:
df['Close'].pct_change()

Date
2022-01-03         NaN
2022-01-04   -0.012879
2022-01-05   -0.076161
2022-01-06   -0.020585
2022-01-07   -0.031427
                ...
2022-06-13   -0.251819
2022-06-14    0.031022
2022-06-15    0.092242
2022-06-16   -0.058363
2022-06-17    0.038800
Name: Close, Length: 116, dtype: float64

In [ ]:
import pandas_datareader.data as web

In [109]:
fid=urllib.request.urlopen('https://query1.finance.yahoo.com/v7/finance/options/MSTR')
webpage=fid.read()
webpage=str(webpage)
content = re.findall('("strike":[0-9].).+,"',webpage, re.DOTALL)
print(content)

['"strike":10']

In [120]:
from yahoo_fin import options
chain = options.get_options_chain('MSTR')
chain['calls']
chain['calls'].columns
chain['puts']

,Contract Name,Last Trade Date,Strike,Last Price,Bid,Ask,Change,% Change,Volume,Open Interest,Implied Volatility
0,MSTR220624P00010000,2022-06-17 3:57PM EDT,10.0,0.02,0.00,0.05,-0.03,-60.00%,2,301,718.75%
1,MSTR220624P00020000,2022-06-17 3:31PM EDT,20.0,0.05,0.00,0.05,0.00,-,369,742,537.50%
2,MSTR220624P00030000,2022-06-17 3:36PM EDT,30.0,0.10,0.00,0.15,0.00,-,368,326,484.38%
3,MSTR220624P00040000,2022-06-17 3:57PM EDT,40.0,0.09,0.05,0.25,-0.08,-47.06%,739,175,439.84%
4,MSTR220624P00050000,2022-06-17 3:29PM EDT,50.0,0.36,0.15,0.65,-0.14,-28.00%,693,592,428.13%
...,...,...,...,...,...,...,...,...,...,...,...
58,MSTR220624P00360000,2022-05-09 11:51AM EDT,360.0,129.05,123.00,131.90,0.00,-,1,1,0.00%
59,MSTR220624P00370000,2022-05-27 9:57AM EDT,370.0,147.66,198.90,206.80,0.00,-,1,1,261.43%
60,MSTR220624P00395000,2022-05-16 12:02AM EDT,395.0,227.20,187.40,196.50,0.00,-,-,25,0.00%
61,MSTR220624P00400000,2022-06-17 9:48AM EDT,400.0,241.50,228.20,236.70,62.79,+35.14%,1,3,220.31%
62,MSTR220624P00440000,2022-05-20 1:04PM EDT,440.0,251.74,267.70,277.00,0.00,-,1,1,457.32%

In [119]:
options.get_expiration_dates('MSTR')

['June 24, 2022',
 'July 1, 2022',
 'July 8, 2022',
 'July 15, 2022',
 'July 22, 2022',
 'July 29, 2022',
 'October 21, 2022',
 'January 20, 2023',
 'December 15, 2023',
 'January 19, 2024']